<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon (click)="back()" name="arrow-back-outline"></ion-icon>
      Roomies
      <ion-icon name="home-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <h1>¡Queremos conocerte!</h1>
  <br>
 
    <ion-item>
      <ion-input [(ngModel)]="nombre" label="¿Cómo te llamas?" labelplacement="stacked"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input [(ngModel)]="apellidos" label="¿Cuáles son tus apellidos?" labelplacement="stacked"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input [(ngModel)]="nacimiento" label="Fecha de nacimiento:" labelplacement="stacked"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input [(ngModel)]="correo" label="Correo electrónico:" labelplacement="stacked"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input [(ngModel)]="contrasena1" type="password" label="Escribe una Contraseña:" labelplacement="stacked"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input [(ngModel)]="contrasena2" type="password" label="Confirma tu contraseña:" labelplacement="stacked"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)="registro()" fill="solid" shape="round">Siguiente</ion-button>
 
</ion-content>
