<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">Roomies<ion-icon name="home-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  
  
  <br>
  
  <ion-img src="/assets/img/Roomies.jpg"></ion-img>
  <br>
  <ion-input [(ngModel)]="usuario" label="Correo Electrónico:" label-placement="floating" fill="outline" placeholder="Ingrese su correo electrónico"></ion-input>
  <br>
  <ion-input [(ngModel)]="contrasena" type="password" label="Contraseña:" label-placement="floating" fill="outline" placeholder="Ingrese su contraseña"></ion-input>
  <br>
  <div class="btn">
  <ion-button (click)="Login()" fill="solid" shape="round">Ingresar</ion-button>
  </div>    
  <br>
  <br>
  <div class="registrateAqui">
    <h6 (click)="registrateAqui()"><u>Registrate aquí</u></h6>
  </div>
  <div class="restContrasena">
    <h6 (click)="restContrasena()"><u>¡Olvidaste tu contraseña?</u></h6>
  </div>
</ion-content>

