.btn{
    margin-left: 160px;
    
    
}

.registrateAqui :hover{
    color:white;
    
}

.restContrasena :hover{
    color:white;
    

}

ion-img{
    margin-top: 10px;
    margin-left: 140px;
    margin-right: 140px;

}
ion-content{
    --background: #E7C556;
}

ion-toolbar{
    --background: #E79256;
}

.registrateAqui{
    margin-left: 150px;
}

.restContrasena{
    margin-left: 120px;
}

