.btn{
    margin-left: 250px;
}

.registrateAqui :hover{
    color:white;
    
}

.restContrasena :hover{
    color:white;
    

}

ion-img{
    margin-top: 10px;
    margin-left: 190px;
    margin-right: 150px;

}
ion-content{
    --background: #E7C556;
}

ion-toolbar{
    --background: #E79256;
}

.registrateAqui{
    margin-left: 250px;
}

.restContrasena{
    margin-left: 210px;
}